<section class="education section" id="education">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">{{ 'education.title' | translate }}</h2>
        </div>

        <div class="education__grid">
            <div class="education__degrees">
                <div class="degree-card" *ngFor="let key of degreeKeys" [class.degree-card--master]="key === 'master'">
                    <div class="degree-card__badge">{{ 'education.degrees.' + key + '.badge' | translate }}</div>
                    <h3 class="degree-card__title">{{ 'education.degrees.' + key + '.title' | translate }}</h3>
                    <p class="degree-card__institution">{{ 'education.degrees.' + key + '.institution' | translate }}
                    </p>
                    <p class="degree-card__year">{{ 'education.degrees.' + key + '.year' | translate }}</p>
                    <p class="degree-card__description">{{ 'education.degrees.' + key + '.description' | translate }}
                    </p>
                </div>
            </div>

            <div class="education__certifications">
                <h3 class="education__certifications-title">{{ 'education.certifications.title' | translate }}</h3>

                <div class="certification-item"
                    *ngFor="let cert of ('education.certifications.items' | translate); let i = index">
                    <div class="certification-item__icon">{{ certIcons[i] || '📜' }}</div>
                    <div class="certification-item__content">
                        <h4 class="certification-item__title">{{ cert.title }}</h4>
                        <p class="certification-item__org">{{ cert.org }}</p>
                        <span class="certification-item__year">{{ cert.year }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>