<section class="experience section" id="experience">
    <div class="container">
        <h2 class="section__title section__title--gradient">{{ i18n.t('experience.title') }}</h2>
        <p class="section__subtitle">{{ i18n.t('experience.subtitle') }}</p>

        <div class="timeline">
            <div class="timeline__line"></div>

            <div class="timeline__item" *ngFor="let item of items; let i = index"
                [class.timeline__item--highlight]="item[1].highlight">
                <div class="timeline__marker" [class.timeline__marker--highlight]="item[1].highlight"></div>
                <div class="timeline__content">
                    <span class="timeline__date">{{ item[1].date }}</span>
                    <h3 class="timeline__title">{{ item[1].title }}</h3>
                    <p class="timeline__org">{{ item[1].org }}</p>
                    <p class="timeline__description">{{ item[1].description }}</p>
                    <div class="timeline__tags">
                        <span class="tag" *ngFor="let tag of item[1].tags">{{ tag }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>